.horror img {
  width: 200px;
  margin: 20px;
  height: auto;
}

.adventure img {
  width: 200px;
  margin: 20px;
  height: auto;
}

.fantasy img {
  width: 200px;
  margin: 20px;
  height: auto;
}

.roman img {
  width: 200px;
  margin: 20px;
  height: auto;
}

.cover img {
  width: 250px;
  margin: 20px;
  height: auto;
}